<%- include("header") %>
<div id="about">
	<h3>About Me</h3>
	<p>
		My name is Eric Daniel, i'm from Indonesia. I'm still students and have big motivation to learn Programming. I'm Junior Developer with knowledge in Python, C++, javascript, and some Javascript framework.
	</p>
	<h3>Skills</h3>
	<div class="skills">
		<span class="skill"><img src="html5.png"/></span>
		<span class="skill"><img src="css3.png"/></span>
		<span class="skill"><img src="javascript.png"/></span>
		<span class="skill"><img src="nodejs.png"/></span>
		<span class="skill"><img src="python.png"/></span>
		<span class="skill"><img src="cpp.png"/></span>
	</div>
	<h3>What Can I Do?</h3>
	<p>
		Right now i'm becoming freelance programmer on Fiverr platform with these jobs:<br/>
		<div class="jobs">
			<span class="works">Create Landing Page or website portofolio (Html,Css and Javascript)</span>
			<span class="works">Help you write code in Python</span>
			<span class="works">Scrapping data using Python</span>
		</div>
	</p> 
</div>

<%- include("footer") %>