<%- include("header") %>

<div id="contact">
	<form>
		<h3>Contact Me</h3>
		<label for="Name">Your name</label>
		<input type="text" id="name" name="name" autocomplete="off" required>
		<label for="Email">Your Email</label>
		<input type="text" id="Email" name="Email" autocomplete="off" required>
		<label for="Message">Your Message</label>
		<textarea type="text" id="Message" name="Message" autocomplete="off" required></textarea>
		<button>Send Message</button>
	</form>
</div>

<%- include("footer") %>