	</div>
        <hr/>
    <footer>
    <h3>Get in touch</h3>
        <div class="visit">
        <span><img src="/assets/github.png" alt="Visit me on github"/></span>
        <span><img src="/assets/fiverr.png" alt="Visit me on fiverr"/></span>
        <span><a href="/contact"><h2>You can contact me here.</h3></a></span>
        </div>
    </footer>
</div>
</body>
</html>