	</div>
        <hr/>
    <footer>
    <h3>Get in touch</h3>
        <div class="visit">
        <span><a href="https://github.com/ericdaniel-dev"><img src="/assets/github.png" alt="Visit me on github"/></a></span>
        <span><a href="https://www.fiverr.com/ericdaniel_dev"><img src="/assets/fiverr.png" alt="Visit me on fiverr"/></a></span>
        <span><a href="/contact"><h3>You can contact me here.</h3></a></span>
        </div>
    </footer>
</div>
</body>
</html>