<!DOCTYPE HTML>
<html>
  <head>
    <title> <%= title %> </title>
    <!-- Meta tag -->
    <meta name="description" content="Website Portofolio">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
   	<!-- CSS & Fonts -->
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
  </head>
<body>
<div id="container"> 	
    <header>
      <div>Eric</div>
      <div><nav class="navbar">
        <span><a href="/">Home</a></span>
        <span><a href="/about">About Me</a></span>
        <span><a href="/project">Project</a></span>
        <span><a href="/contact">Contact</a></span>
      </nav></div>
    </header>
    <hr/>
    <div id="main">
    