<%- include("header") %>

<div id="intro">
	Hello, I'm Eric Daniel<br/>
	a technology-loving Junior Developer driven to explore and master the dynamic world of software development.
</div>
<div id="bio">
	<span class="mybio">
		<div><h3>Biography</h3>
		<img src="/assets/profile.webp" alt="profile"/></div>
		<div><p>I have experience with Python and C++, and currently, I'm learning Node.js along with its various frameworks.</p></div>
	</span>
	<span class="freelance">
		<h3>Freelance</h3>
		Currently, I am working as a freelancer on the Fiverr platform. If you need assistance from a developer, you can <a href="https://www.fiverr.com/ericdaniel_dev">Hire Me</a>.
	</span>
</div>
<%- include("footer") %>