<%- include("header") %>

<div id="projects">
	<h2>Project List</h2>
	<p>This is project and software that i develop</p>
	<span class="project-list">
		<span class="project">
			<img src="/assets/project.webp" alt="my project"/>
			<b>html</b><b>css</b><b>javascript</b>
			<h3>Test 1</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.
			</p>
		</span>
		<span class="project">
			<img src="/assets/project.webp" alt="my project"/>
			<b>html</b><b>css</b><b>javascript</b>
			<h3>Test 2</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.
			lorem
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</span>
		<span class="project">
			<img src="/assets/project.webp" alt="my project"/>
			<b>html</b><b>css</b><b>javascript</b>
			<h3>Test 3</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.
			</p>
		</span>
	</span>
</div>

<%- include("footer") %>